:root {
    /* Colors */
    --color-light: 248, 249, 250; /* #F8F9FA */
    --color-dark: 33, 37, 41; /* #212529 */
    --color-success: 25, 135, 84; /* #198754 */
    --color-danger: 220, 53, 69; /* #dc3545 */
    --color-warning: 255, 193, 7; /* #ffc107 */
    --color-info: 13, 202, 240; /* #0dcaf0 */
    --color-primary: 13, 110, 253; /* #0d6efd */
    --color-secondary: 108, 117, 125; /* #6c757d */

    --color-body: 33, 37, 41; /* #212529 */ /* Еще передается вручную в svg для form-select */
    --color-body-bg: var(--color-light);

    /* Forms */
    --input-height: 2.5rem; /* 40px */
    --input-height-sm: 1.875rem; /* 30px */
    --input-height-lg: 3rem; /* 48px */

    --input-padding-x: .75rem; /* 12px */
    --input-padding-x-sm: .625rem; /* 10px */
    --input-padding-x-lg: 1rem; /* 16px */
    --input-textarea-padding-y: .563rem; /* 9px */
    --input-textarea-padding-y-sm: .438rem; /* 7px */
    --input-textarea-padding-y-lg: .563rem; /* 9px */
    --input-file-padding-fix: 3px;
    --select-indicator-padding: calc(var(--input-padding-x) * 3);

    --input-font-size: .875rem; /* 14px */
    --input-font-size-sm: .75rem; /* 12px */
    --input-font-size-lg: 1.125rem; /* 18px */

    --input-line-height: 1.25rem; /* 20px */
    --input-line-height-sm: 1rem; /* 16px */
    --input-line-height-lg: 1.75rem; /* 28px */

    --input-font-weight: 400;

    --input-border-width: 1px;
    --input-border-radius: .625rem; /* 10px */

    --input-color: var(--color-body);
    --input-bg: 255, 255, 255; /* FFF */
    --input-border-color: var(--color-secondary);
    --input-focus-bg: var(--input-bg);
    --input-focus-border-color: var(--color-primary);
    --input-placeholder-color: var(--color-secondary);
    --input-disabled-bg: 233, 236, 239; /* #e9ecef */

    --select-indicator-color: var(--color-body);
    --select-indicator: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='rgb(33, 37, 41)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/></svg>");
    --select-indicator-position: right var(--input-padding-x) center;
    --select-indicator-size: 16px 12px;

    --check-input-width: 1em;
    --check-input-mt: -.1em;
    --check-input-border-radius: .25em;
    --check-radio-border-radius: 50%;
    --check-active-filter: brightness(90%);
    --check-checked-bg-color: var(--input-focus-border-color);
    --check-checked-border-color: var(--check-checked-bg-color);
    --check-checked-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='rgb(255, 255, 255)' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/></svg>");
    --check-radio-checked-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='rgb(255, 255, 255)'/></svg>");
    --check-disabled-opacity: .5;
    --check-label-ml: .5em;

    --input-transition: "border-color .15s ease-in-out, box-shadow .15s ease-in-out";

    /* Buttons */
    --btn-height: var(--input-height); /* 40px */
    --btn-height-sm: var(--input-height-sm); /* 30px */
    --btn-height-lg: var(--input-height-lg); /* 48px */

    --btn-padding-x: 1.5rem; /* 24px */
    --btn-padding-x-sm: 1rem; /* 16px */
    --btn-padding-x-lg: 2rem; /* 32px */
    --btn-padding-x-ico: .625rem; /* 10px */

    --btn-font-size: var(--input-font-size); /* 14px */
    --btn-font-size-sm: var(--input-font-size-sm); /* 12px */
    --btn-font-size-lg: var(--input-font-size-lg); /* 18px */

    --btn-line-height: var(--input-line-height); /* 20px */
    --btn-line-height-sm: var(--input-line-height-sm); /* 16px */
    --btn-line-height-lg: var(--input-line-height-lg); /* 28px */

    --btn-font-weight: 500;

    --btn-border-width: var(--input-border-width);
    --btn-border-radius: var(--input-border-radius); /* 10px */

    --btn-ico-text-space: .625rem; /* 10px */

    --btn-transition: "color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out";
}
