:root {
    /* Colors */
    --color-light: 248, 249, 250; /* #F8F9FA */
    --color-dark: 33, 37, 41; /* #212529 */
    --color-success: 25, 135, 84; /* #198754 */
    --color-danger: 220, 53, 69; /* #dc3545 */
    --color-warning: 255, 193, 7; /* #ffc107 */
    --color-info: 13, 202, 240; /* #0dcaf0 */
    --color-primary: 13, 110, 253; /* #0d6efd */
    --color-secondary: 108, 117, 125; /* #6c757d */

    --color-body: 33, 37, 41; /* #212529 */

    /* Sizes */
    --btn-height: 2.5rem; /* 40px */
    --btn-height-sm: 1.875rem; /* 30px */
    --btn-height-lg: 3rem; /* 48px */

    --btn-padding-x: 1.5rem; /* 24px */
    --btn-padding-x-sm: 1rem; /* 16px */
    --btn-padding-x-lg: 2rem; /* 32px */
    --btn-padding-x-ico: .625rem; /* 10px */

    --btn-font-size: .875rem; /* 14px */
    --btn-font-size-sm: .75rem; /* 12px */
    --btn-font-size-lg: 1.125rem; /* 18px */

    --btn-line-height: 1.25rem; /* 20px */
    --btn-line-height-sm: 1rem; /* 16px */
    --btn-line-height-lg: 1.75rem; /* 28px */

    --btn-border-width: 1px;
    --btn-border-radius: .625rem; /* 10px */

    --btn-ico-text-space: .625rem; /* 10px */
}
