:root {
    /* Colors */
    --color-light: 245, 245, 245; /* #F5F5F5 */
    --color-dark: 94, 88, 115; /* #5E5873 */
    --color-success: 40, 169, 146; /* #28A992 */
    --color-danger: 224, 31, 39; /* #E01F27 */
    --color-warning: 247, 150, 30; /* #F7961E */
    --color-info: 128, 159, 255; /* #809FFF */
    --color-primary: 0, 31, 125; /* #001F7D */
    --color-secondary: 187, 184, 199; /* #BBB8C7 */

    --color-body: var(--color-dark);

    /* Sizes */
    --btn-height: 2.5rem; /* 40px */
    --btn-height-sm: 1.875rem; /* 30px */
    --btn-height-lg: 3rem; /* 48px */

    --btn-padding-x: 1.5rem; /* 24px */
    --btn-padding-x-sm: 1rem; /* 16px */
    --btn-padding-x-lg: 2rem; /* 32px */

    --btn-font-size: .875rem; /* 14px */
    --btn-font-size-sm: .75rem; /* 12px */
    --btn-font-size-lg: 1.125rem; /* 18px */

    --btn-line-height: 1.25rem; /* 20px */
    --btn-line-height-sm: 1rem; /* 16px */
    --btn-line-height-lg: 1.75rem; /* 28px */

    --btn-border-width: 1px;
    --btn-border-radius: .625rem; /* 10px */

    --btn-ico-text-space: .625rem; /* 10px */
}
